@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: rgb(235, 235, 235);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
header, main, .inscreverse-jg{ 
  background-color: rgba(0, 0, 0, 0.582);
}
a, p, .nav-link{
  color: rgb(235, 235, 235);
}
.nav {
  background-color: black;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.img-icons{
  height: 2rem;
  width: 2rem;
}

main{
  padding: 5rem;
}
.des{
  display: grid;
  grid-template-columns: auto auto;
  margin: 0 5rem 0 8rem ;
  border-top-style: dotted;
  border-bottom-style: dotted;
  border-color: #505050;
}
.img-pales{
  border-radius: 60%;
  width: 25rem;
  height: 20rem;
}
.img-art-t{
  height: 35rem;
  width: 30rem;
}
.img-art-t-f{
  height: 48rem;
  width: 30rem;
}
.tes{
display: grid;
grid-template-columns: auto auto;
padding: 3rem;
}
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #9b1313, #19a5af, #003cff, #ff00c8, #00ffd5, #002bff, #7a00ff, #ff00c8, #92047f);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
/* 8 */
.btn-32,
.btn-32 *,
.btn-32 :after,
.btn-32 :before,
.btn-32:after,
.btn-32:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-32 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #160d92);
  padding: 0;
  text-transform: uppercase;
}
.btn-32:disabled {
  cursor: default;
}
.btn-32:-moz-focusring {
  outline: auto;
}
.btn-32 svg {
  display: block;
  vertical-align: middle;
}
.btn-32 [hidden] {
  display: none;
}
.btn-32 {
  background: #120e5e;
  border-color: #000;
  color: #000;
  -webkit-mask-image: none;
  outline: 1px solid #fff;
  padding: 15px 35px;
  transition: border-width 0.2s;
}
.btn-32:hover {
  border-width: 6px;
}

@-webkit-keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes border-top-and-bottom {
  0% {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@keyframes border-right-and-left {
  0% {
    height: 0;
  }
  to {
    height: 100%;
  }
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


@media (max-width: 450px) {
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 2rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .img-icons{
    height: 1.5rem;
    width: 1.5rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }

  main{
    padding: 3rem;
  }
  .des{
    display: inline;
    margin: 0 0rem 0 0rem;
    border-top-style: dotted;
    border-bottom-style: dotted;
    border-color: #505050;
    justify-content: center;
  align-items: center;
  justify-items: center;
  }
  .img-pales{
    border-radius: 60%;
    width: 15rem;
    height: 10rem;
  }
  .img-art-t{
    height: 20rem;
    width: 15rem;
  }
  .img-art-t-f{
    height: 25rem;
    width: 15rem;
  }
  .tes{
  display: inline;
  padding: 3rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  }
}
