@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@100 & display=swap');
body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.932);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header,
main,
.prin {
  background-color: rgba(0, 0, 0, 0.822);
}
p,
a {
  color: white;
}
h5 {
  color: rgb(28, 28, 104);
}
.nav {
  background-color: black;
}
.nav-link {
  color: white;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.countdown {
  display: grid;
  grid-template-columns: 8% 8% 10% 12%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  grid-gap: 5px;
}

.btn {
  font-size: 2rem;
  background: url(imgs/nave.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}
.inscreverse,
.conometro {
  padding: 6rem;
}
.artig {
  font-size: 1.2rem;
}
.art {
  display: grid;
  grid-template-columns: auto auto;
}
.img-art {
  width: 30rem;
  height: 28rem;
}
@media (max-width: 500px) {
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 2rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .countdown {
    display: grid;
    grid-template-columns: 30% 30% 30% 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    grid-gap: 5px;
  }
  header,
  main {
    background-color: rgba(0, 0, 0, 0.822);
  }
  .inscreverse,
  .conometro {
    padding: 4rem;
  }
  .artig {
    font-size: 1rem;
  }
  .art {
    display: inline;
  }
  .img-art {
    width: 25rem;
    height: 20rem;
  }
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
