@import url('https://fonts.googleapis.com/css2?family= Montserrat :wght@100 & display=swap');
body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.932);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
header,
main,
.prin {
  background-color: rgba(0, 0, 0, 0.822);
}
p,
a {
  color: white;
}
.nav {
  background-color: black;
}
.nav-link {
  color: white;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.countdown {
  display: grid;
  grid-template-columns: 8% 8% 8% 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  grid-gap: 5px;
}

.btn {
  font-size: 2rem;
  background: url(imgs/nave.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}
.inscreverse,
.conometro {
  padding: 6rem;
}
.titulo {
  font-size: 1.8rem;
}
.text {
  font-size: 1.5rem;
  text-align: center;
}
.accordion-item,
.card {
  background-color: black;
}

.localiza {
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}
.dadosLocal {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.904);
  font-size: 1.2rem;
}

@media (max-width: 500px) {
  h2 {
    font-size: 1.3rem;
  }
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 1.5rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .countdown {
    display: grid;
    grid-template-columns: 15% 20% 30% 35%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    grid-gap: 10px;
  }
  .eventos,
  .sebrae {
    width: 20rem;
  }
  .introducao {
    font-size: 1rem;
  }
  .titulo {
    font-size: 1rem;
  }
  .text {
    font-size: 1rem;
  }
 
  .localiza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    padding: 10px;
  }

  .dadosLocal {
    text-align: center;
    font-size: 1.2rem;
  }
}
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
