@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: rgb(235, 235, 235);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
header, main, .inscreverse-jg{ 
  background-color: rgba(0, 0, 0, 0.582);
}
a, p, .nav-link{
  color: rgb(235, 235, 235);
}
.nav {
  background-color: black;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.img-icons{
  height: 2rem;
  width: 2rem;
}
/* ESTILO DAS ESPECIALIDADES */
.valores {
  display: grid;
  grid-template-columns: 22% 22% 22% 22% 22%;
}
.flip-container {
  padding: 3%;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  perspective: 1000px;
}
.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-container:hover .flipper {
  transform: rotatey(180deg);
}
.front,
.back {
  width: 100%;
  height: 100%;
}
.back {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.inscrição-jg{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 3rem;
}
.missao{
  background-color: rgba(0, 0, 0, 0.733);
}
.missao:hover{
  background: rgb(31,87,124);
  background: radial-gradient(circle, rgba(31,87,124,1) 0%, rgba(16,14,80,0.6587009803921569) 100%);
}
.lua-mart{
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 2rem;
}
.btn-12{
  position: relative;
  right: 20px;
  left: 45px;
  bottom: 20px;
  border:none;
  box-shadow: none;
  width: 130px;
  height: 40px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}
.b-13{
  left: 15rem;
}
.btn-12 span {
  background: rgb(0,172,238);
  background: linear-gradient(0deg, rgb(4, 94, 129) 0%, rgb(80, 3, 124) 100%);
  display: block;
  position: absolute;
  width: 130px;
  height: 40px;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  border-radius: 5px;
  margin:0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-12 span:nth-child(1) {
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}
.btn-12:hover span:nth-child(1) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.btn-12:hover span:nth-child(2) {
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}





@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width:  450px) {
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 2rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .img-icons{
    height: 1.5rem;
    width: 1.5rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .glow-on-hover {
    width: 200px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  h4 {
    font-size: 1.1rem;
  }

.onu {
    width: 20rem;
  }
  .row{
      display: inline;
  }
  .inscrição-jg{
    display: inline;
    grid-gap: 7rem;
  }

  
}
