body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.938);
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}
header,
main,
.prin {
  background-color: rgba(0, 0, 0, 0.822);
}
p,
a {
  color: white;
}
.nav {
  background-color: black;
}
.nav-link {
  color: white;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.countdown {
  display: grid;
  grid-template-columns: 8% 8% 8% 18%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  grid-gap: 5px;
}

.btn {
  font-size: 2rem;
  background: url(imgs/nave.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}
.inscreverse,
.conometro {
  padding: 3rem;
}
.btn-lua {
  font-size: 2rem;
  background: url(imgs/lua.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}
.btn-marte {
  font-size: 2rem;
  background: url(imgs/marte.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}

.valores {
  display: grid;
  grid-template-columns: 18% 18% 18% 18% 18% 18%;
}
form {
  display: grid;
  grid-template-columns: auto auto auto;
}
.flip-container {
  padding: 3%;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 0;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  perspective: 1000px;
}
.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-container:hover .flipper {
  transform: rotatey(180deg);
}
.front,
.back {
  width: 100%;
  height: 100%;
}
.back {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 500px) {
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 2rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .countdown {
    display: grid;
    grid-template-columns: 15% 15% 25% 30%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    grid-gap: 5px;
  }
  .valores {
    display: inline;
  }
  form {
    display: inline;
  }
}
