body {
  background: url(imgs/plan.png) no-repeat center center/cover;
  color: white;
  background-color: rgba(0, 0, 0, 0.932);
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
}
a {
  color: white;
}
.nav {
  background-color: black;
}
.nav-link {
  color: white;
}
#logo {
  width: 10rem;
  height: 4rem;
}
.entrada {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}
.intro {
  padding: 4rem;
}
.introducao {
  text-align: center;
  font-size: 1.6rem;
}
.pulsate-bck {
  height: 28rem;
  -webkit-animation: pulsate-bck 0.8s infinite;
  animation: pulsate-bck 0.8s infinite;
}
.countdown {
  display: grid;
  grid-template-columns: 8% 8% 8% 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 1.6rem;
  grid-gap: 5px;
}
.conteudo {
  text-align: center;
  font-size: 1.5rem;
}
.art {
  display: grid;
  grid-template-columns: auto auto;
}
header,
main,
.prin {
  background-color: rgba(0, 0, 0, 0.822);
}
.btn {
  font-size: 2rem;
  background: url(imgs/nave.png) no-repeat center center/cover;
  color: black;
  height: 10rem;
}
.inscreverse,
.conometro {
  padding: 3rem;
}
.img-art {
  width: 28rem;
  height: 18rem;
}

@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (max-width: 500px) {
  h2 {
    font-size: 1.1rem;
  }
  .entrada {
    display: inline;
    grid-gap: 20px;
  }
  .intro {
    padding: 2rem;
  }
  .introducao {
    text-align: center;
    font-size: 1rem;
  }
  .pulsate-bck {
    height: 26rem;
    -webkit-animation: pulsate-bck 0.8s infinite;
    animation: pulsate-bck 0.8s infinite;
  }
  .countdown {
    display: grid;
    grid-template-columns: 25% 25% 25% 35%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    grid-gap: 5px;
  }
  .conteudo {
    text-align: center;
    font-size: 1rem;
  }
  .art {
    display: inline;
  }
  .img-art {
    width: 24rem;
    height: 18rem;
  }
}
